<!DOCTYPE>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中山学院网络维护科</title>

    <link rel="shortcut icon" sizes="48x48" href="/public/images/logo/logo-48.png">

    <link rel="stylesheet" type="text/css" href="/public/annual2016/annual2016.css">
</head>
<body id="body">

<!--   三个tip，在不同情况激发   -->
<div id="tip" >
    <p>由于服务器出现问题或当前网络环境较差</p>
    <p>部分资源尚未完成加载</p>
    <p>可能影响观看效果</p>
</div>
<div id="tip1">
    <p>请使用手机浏览该页面</p>
</div>
<div id="tip2">
    <p>请轻触屏幕开始</p>
    <p>tip:右上角有音乐的开关按钮</p>
</div>

<!-- 音乐控件  -->
<div id="console">
    <button type="button"><img src="/public/annual2016/images/pause.png"></button>
</div>

<!--  音乐播放器  -->
<audio loop="loop" preload="auto" id="music">
    <source src="/public/annual2016/resource/music.mp3" type="audio/mpeg">
    <source src="/public/annual2016/resource/music.ogg" type="audio/ogg">
</audio>

<!--  loading加载动画  -->
<div class="body" id="loading">
    <div class="wrap">
        <div class="bg">
            <div class="loading">
                <h1 class="title">loading</h1>
                <h1 class="text">waiting</h1>
            </div>
        </div>
    </div>
</div>

<!--  主体内容开始  -->
<div class="page" id="page1">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <h2>2&nbsp&nbsp0&nbsp&nbsp1&nbsp&nbsp6&nbsp&nbsp的&nbsp&nbsp结&nbsp&nbsp尾</h2>
        <p>致给即将远程的我</p>
    </div>
</div>

<div class="page" id="page2">
    <div class="word">
        <h2>2013.09.24</h2>
        <p>各位报名网维的同学，请在25日21：20到实验楼B101参加考试。</p>
        <p class="right">收到了第一条网络维护科的短信</p>
    </div>
    <div class="bottom-img">
        <img src="">
    </div>
</div>

<div class="page" id="page3">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <p>一次笔试,一场岁月</p>
        <div class="inline-p">
            <p>从前</p>
            <p>我们也有师兄师姐</p>
        </div>
        <div class="inline-p">
            <p>现在</p>
            <p>也成为了别人的师兄师姐</p>
        </div>
    </div>
</div>

<div class="page" id="page4">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <p>一次笔试,一场岁月</p>
        <h6>2013.11.22</h6>
        <p>电子科技大学中山学院校园网络知识培训方案</p>
        <h6>2016.12.02</h6>
        <p>成为网维一份子的第<span>1106</span>天</p>
    </div>
</div>

<div class="page" id="page5">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <p>一次笔试,一场岁月</p>
        <p><span>我</span>和网维共同的</p>
        <p><span>1106</span>天</p>
    </div>
</div>

<div class="page" id="page6">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <h2>三年来</h2>
        <p>我踏遍了这所我深爱的学校</p>
        <p>以职责之名</p>
    </div>
</div>

<div class="page" id="page7">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>承载下我的初心</p>
        <p>我走过一路春华秋实</p>
    </div>
</div>

<div class="page" id="page8">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>一个人</p>
        <p>带上工具包</p>
        <p>走过的夏天</p>
    </div>
</div>

<div class="page" id="page9">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>我的岁月。</p>
        <p>以及</p>
        <p>走过的每一个季节</p>
        <p>记录这三年来</p>
        <p>蹒跚的梯子</p>
    </div>
</div>

<div class="page" id="page10">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>我见过</p>
        <p>凤翔最美的砖瓦</p>
    </div>
</div>

<div class="page" id="page11">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>玩闹的幼猫</p>
    </div>
</div>

<div class="page" id="page12">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>香山周围的灯火阑珊</p>
        <p>也望见过</p>
    </div>
</div>

<div class="page" id="page13">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>结束整个下午的工作</p>
        <p>陪伴着</p>
        <p>岐头的狡黠明月</p>
    </div>
</div>

<div class="page" id="page14">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <p>我的整个大学</p>
        <p>从南到北</p>
        <p>从北门到岐头</p>
        <p>从凤翔到东门</p>
    </div>
</div>

<div class="page" id="page15">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <p>后来</p>
        <p>在这里</p>
        <p>认识了很多</p>
        <p>新的人</p>
    </div>
</div>

<div class="page" id="page16">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <p>从前万人疼</p>
        <p>现在要去疼别人了</p>
    </div>
</div>

<div class="page" id="page17">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <p>他们也依葫芦画瓢</p>
        <p>学起我从前的模样</p>
    </div>
</div>

<div class="page" id="page18">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <p>以他们的职责</p>
        <p>行走于这片校园</p>
    </div>
</div>

<div class="page" id="page19">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <p>以职责之名</p>
    </div>
</div>

<div class="page" id="page20">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>和他们</p>
        <p>共同度过的日子</p>
    </div>
</div>

<div class="page" id="page21">
    <div class="word">
        <p>和他们</p>
        <p>共同度过的年会</p>
    </div>
    <div class="photo-group">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
    </div>
</div>

<div class="page" id="page22">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <p>一起聚过的餐</p>
        <p>一起开过的会</p>
        <p>一起加过的班</p>
        <p>一起水过的群</p>
    </div>
</div>

<div class="page" id="page23">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <p>那些我的师兄师姐教会我的</p>
        <p>也由我</p>
        <p>继续传承</p>
    </div>
</div>

<div class="page" id="page24">
    <div class="top-img">
        <img src="">
    </div>
    <div class="word">
        <p>我</p>
        <p>成为网维一员</p>
        <p>的</p>
        <p>第1106天</p>
    </div>
</div>

<div class="page" id="page25">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <h2>今夜</h2>
        <p>我即将远航</p>
    </div>
</div>

<div class="page" id="page26">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <h2>明日</h2>
        <p>未必万里晴空</p>
    </div>
</div>

<div class="page" id="page27">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>我即将离开这里</p>
    </div>
</div>

<div class="page" id="page28">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>乘舟破浪</p>
    </div>
</div>

<div class="page" id="page29">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>行走四方</p>
    </div>
</div>

<div class="page" id="page30">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>但这里却有我永远的家</p>
        <p>青春不朽的记忆</p>
        <p>我...还有网维</p>
    </div>
</div>

<div class="page" id="page31">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>纪念我在网维的第1106个日子</p>
        <p>多谢有你相伴</p>
    </div>
</div>

<div class="page" id="page32">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>路上新栽植了的青蔓</p>
        <p>等我回来</p>
        <p>也该绿了这个夏天吧</p>
    </div>
</div>

<div class="page" id="page33">
    <div class="full-img">
        <img src="">
    </div>
    <div class="word">
        <p>致我们即将远航的师兄师姐</p>
        <p>一瓢浊酒尽余欢</p>
        <p>今宵别梦寒</p>
        <p>愿君春风得意马蹄疾</p>
        <p>前程似锦度人生</p>
    </div>
</div>

<div class="page" id="page34">
    <div class="middle-img">
        <img src="">
    </div>
    <div class="word">
        <p>网络维护科</p>
    </div>
</div>

<script src="/public/annual2016/jquery.min.js"></script>
<script src="/public/annual2016/animation.js"></script>
<script src="/public/annual2016/loading.js"></script>
<script src="/public/annual2016/fullPage.js"></script>

</body>
</html>