<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <title>中山学院网络维护科 | 提示</title>
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta name="theme-color" content="#f60">
  <meta name="format-detection" content="telephone=no">
  <meta name="description"
        content="电子科技大学中山学院网络维护科由学院信息中心直接领导的学生组织。组织正式成员均具备计算机网络基础知识和技能，能单独负责履行学生宿舍及教师办公室宽带网络维护的服务工作。"/>
  <meta name="keywords" content="电子科技大学中山学院网络维护科 电子科技大学中山学院 中山学院 中山学院网维 中山学院网络维护科 网络 组织 学生"/>

  <link rel="apple-touch-icon" sizes="120x120" href="/public/images/logo/logo-120.png">
  <link rel="shortcut icon" sizes="48x48" href="/public/images/logo/logo-48.png">
  <link rel="manifest" href="/manifest.json">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111704167-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111704167-1');
  </script>

  <!--  Baidu Analytics  -->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?87536ad3b0513cee1fcebbecf954b1de";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

  <link rel="stylesheet" href="/public/stylesheets/cssreset.css">
  <link rel="stylesheet" href="/public/stylesheets/not-support.css">
</head>
<body>
  <div class="main">
    <h1>You seem to be using an unsupported browser</h1>
    <p>Try one of these options to have a better experience.</p>

    <ul class="browser-list">
      <li>
        <a href="https://www.google.com/chrome/">
          <img src="/public/images/not-support/chrome.png">
          <p>Chrome</p>
        </a>
      </li>

      <li>
        <a href="https://www.apple.com/safari/">
          <img src="/public/images/not-support/safari.png">
          <p>Safari</p>
        </a>
      </li>

      <li>
        <a href="https://www.mozilla.org/en-US/firefox/">
          <img src="/public/images/not-support/firefox.png">
          <p>Firefox</p>
        </a>
      </li>

      <li>
        <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">
          <img src="/public/images/not-support/edge.png">
          <p>Edge</p>
        </a>
      </li>

      <li>
        <a href="http://www.opera.com">
          <img src="/public/images/not-support/opera.png">
          <p>Opera</p>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>
