* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  font-size: 16px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  display: block;
  padding: 3px 15px;
  border: 2px solid #1bbc9d;
  border-radius: 9px;
  background-color: #1bbc9d;
  color: #fff;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn.active {
  background-color: #fff;
  color: #1bbc9d;
  text-decoration: none;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 10px;
}

.markdown-body ol li {
  list-style: decimal;
}

.markdown-body ul li {
  list-style: disc;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 10px;
  }
}