/*  cv-shadow  */
.cv-shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cv-shadow--active {
  display: block;
  background-color: rgba(0, 0, 0, .5);
}